# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script before PyInstaller builds the exe
*.manifest
*.spec

# Installer logs
pip-log.txt
sqlite3_log.txt

# Unit test / coverage reports
htmlcov/
.toml
.cache
.pytest_cache/
.coverage
.coverage.*
.autospec
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.run/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to comit it.
#   For an application, you might want to ignore it.
# .python-version

# pipenv
#   According to pypa/pipenv#1173, pipenv handles the .env file automatically.
# .env

# poetry
#   Poetry auto-generates poetry.lock. Keep it in version control, but ignore the cache.
.poetry/
.venv/
poetry.lock.bak

# pdm
#   PDM stores project-local configuration here
.pdm-plugins/
.pdm-build/

# virtualenv / venv
#   Always ignore your local virtual environments
venv/
.venv/
env
env/
.env
.env/
ENV/
env.bak/
venv.bak/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store

notes.md
